@model IEnumerable<Domain.Entities.ChatSession>

@{
    ViewData["Title"] = "Inbox";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/inbox.css" />
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signalr/3.1.17/signalr.min.js"></script>
<script src="~/js/inbox.js"></script>

<main class="content flex-grow-1">
    <h3 class="mb-3 my-3">Messages</h3>

    <div class="container p-0">
        <!-- Left column (User list) -->
        <div class="chat-list">
            <input type="text" class="form-control my-3" placeholder="Search by email..." id="searchEmail">
            <div id="userList">
                <p>No chat sessions found.</p>
            </div>
        </div>

        <div class="chat-messages-wrapper">
            <div class="user-info" id="user-info">
                <div>
                    <div class="fullname">Select a user to start a chat</div>
                    <div class="status"></div>
                </div>
                <button class="options-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="1"></circle>
                        <circle cx="19" cy="12" r="1"></circle>
                        <circle cx="5" cy="12" r="1"></circle>
                    </svg>
                </button>
            </div>

            <div class="chat-messages" id="chat-messages"></div>

            <div class="chat-input">
                <div class="input-group w-100">
                    <button class="btn btn-light" id="uploadButton">
                        <i class="fas fa-image"></i> <!-- FontAwesome icon for image -->
                    </button>
                    <input type="file" id="photoUpload" accept="image/*" style="display: none;">
                    <input type="text" class="form-control" placeholder="Type a message..." id="chatMessage">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="sendButton">
                            <i class="fas fa-paper-plane"></i> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
