@{
    ViewData["Title"] = "Technicians and Companies";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Technicians and Companies</h2>
<p>Here you can find technicians and companies.</p>
