@{
    ViewData["Tittle"] = "Punet";
}

<section class="job_section layout_padding">
    <div class="heading_container heading_center">
        <h2>
            RECENT & FEATURED JOBS
        </h2>
    </div>
    <div class="container">
        <div class="add-job-container text-center my-4">
            <button class="btn btn-lg" style="background-color: #e41a2b; color: white;" onclick="openModal()">List a Job</button>
        </div>

        <div id="jobModal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Job Information</h5>
                    </div>
                    <div class="modal-body">
                        <form id="jobForm" onsubmit="submitJobForm(event)">
                            <div class="mb-3">
                                <label for="jobTitle" class="form-label">Job Title</label>
                                <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Enter job title" required>
                            </div>
                            <div class="mb-3">
                                <label for="jobDescription" class="form-label">Description</label>
                                <textarea class="form-control" id="jobDescription" name="jobDescription" placeholder="Enter job description" rows="4" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="jobCategory" class="form-label" style="line-height: 10px;">Category</label>
                                <select class="form-control" id="jobCategory" name="jobCategory" required>
                                    <option value="" selected disabled>Select Category</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="jobCity" class="form-label" style="line-height: 10px;">City</label>
                                <select class="form-control" id="jobCity" name="jobCity" required>
                                    <option value="" selected disabled>Select City</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="jobPrice" class="form-label">Price</label>
                                <input type="number" class="form-control" id="jobPrice" name="jobPrice" placeholder="Max Price Willing to Pay" required>
                            </div>
                            <button type="submit" class="btn btn-success w-100">Add Job</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <div class="filter-section">
            <form id="filtersForm">
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <input type="text" class="form-control" id="keywords" placeholder="Enter keywords">
                    </div>
                    <div class="form-group col-lg-4">
                        <select name="SelectedCityId" id="filterCities" class="form-control wide">
                            <option value="">All Locations</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <select name="SelectedCategoryId" id="filterCategories" class="form-control wide">
                            <option value="">All Categories</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <input type="number" class="form-control" id="price" placeholder="Minimum Price">
                    </div>
                    <div class="form-group col-lg-4">
                        <select name="NumberOfApplicants" id="numberOfApplicants" class="form-control wide">
                            <option value="">Number of Applicants</option>
                            <option value="LessThan3">Less than 3</option>
                            <option value="LessThan5">Less than 5</option>
                            <option value="Less than 10">Less than 10</option>
                            <option value="Less than 20">Less than 20</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <select name="SortBy" id="sortBy" class="form-control wide">
                            <option value="">Sort By</option>
                            <option value="highestPrice">Highest Price</option>
                            <option value="dateAsc">Date: Oldest First</option>
                            <option value="dateDesc">Date: Newest First</option>
                            <option value="nameAsc">Name: A to Z</option>
                            <option value="nameDesc">Name: Z to A</option>
                        </select>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="form-group col-lg-6">
                        <button type="button" class="btn btn-primary w-100" style="background-color: #e41a2b; border: 1px solid #e41a2b;" id="applyFiltersButton">Apply Filters</button>
                    </div>
                    <div class="form-group col-lg-6">
                        <button type="button" class="btn btn-secondary w-100" id="resetFiltersButton">Reset Filters</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="job_container">
        <div class="container">
            <div id="jobsContainer" class="row">
            </div>
        </div>
    </div>
</section>
<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-2 info_links">
                <h4>
                    Menu
                </h4>
                <ul>
                    <li>
                        <a href="Home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="AboutUs">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="Pros">
                            Hire a Pro
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>
                    Jobs
                </h4>
                <p>
                    Established fact that a reader will be distracted by the readable content of a page when looking at its
                    layout. The point of using Lorem Ipsum
                </p>
            </div>
            <div class="col-md-3">
                <div class="info_social">
                    <h4>
                        Social Link
                    </h4>
                    <div class="social_container">
                        <div>
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info_form">
                    <h4>
                        Newsletter
                    </h4>
                    <form action="">
                        <input type="text" placeholder="Enter Your Email" />
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/JobListing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>