#profileSection {
    background-image: linear-gradient(to right, rgba(8, 19, 92, 0.9), rgba(8, 19, 92, 0.9)), url(../images/slider-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
}

#profileContainer {
    max-width: 100%;
    padding: 0 15px;
}

#profileFormSection {
    margin-top: 20px;
}

#formCard {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#formTitle {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#leftright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#left{
    flex: 1;
    min-width: 250px;
}

#phoneField, #descriptionField, #cityField {
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
}

#phoneField .input-group-prepend {
    background-color: #f0f0f0;
    border-radius: 8px 0 0 8px;
}

#submitBtn {
    background-color: #007bff;
    color: white;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    #submitBtn:hover {
        background-color: #0056b3;
    }

.select2-container--default .select2-selection--multiple {
    border-radius: 8px !important;
    padding: 0px;
    font-size: 14px;
}

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        font-size: 14px;
    }

.select2-container--default .select2-selection__choice {
    background-color: #007bff;
    color: black;
    border-radius: 4px;
    font-size: 14px;
}

.select2-container--default .select2-selection__choice__remove {
    color: white;
}

@media (max-width: 767px) {
    #profileSection {
        padding: 40px 15px;
    }

    #formCard {
        padding: 20px;
    }

    #leftright {
        flex-direction: column;
        gap: 10px;
    }

    #left, #right {
        flex: none;
        min-width: 100%;
    }
}
