.register_section {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

    .card h3 {
        color: #333;
        font-weight: 600;
    }

.form-group label {
    color: #555;
    font-weight: 500;
}

.form-control {
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group .nice-select {
    display: flex !important;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

select.form-control {
    padding-right: 50px;
    appearance: none;
    width: 100%;
    min-width: 150px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%236a11cb' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    height: auto;
}

    select.form-control option {
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
        white-space: nowrap;
    }

.input-group-text {
    background-color: transparent;
    border: none;
}

.input-group {
    border-radius: 30px;
    overflow: visible;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #08135c;
    border-color: #6a11cb;
    border-radius: 30px;
    padding: 12px;
    transition: all 0.3s ease;
}

    .btn-primary:hover {
        background-color: #2575fc;
        border-color: #2575fc;
    }

.text-center a {
    color: #6a11cb;
    transition: color 0.3s;
}

    .text-center a:hover {
        color: #2575fc;
    }

.text-muted {
    color: #aaa !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    z-index: 10;
    display: none;
}

.register-container {
    position: relative;
    min-height: 300px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
