#cropperModal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: auto;
    max-width: 90%;
    z-index: 1051;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cropperModal .image-crop-container {
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#cropperImage {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#cropperModal .controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}


.slider_section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(8, 19, 92, 0.9)), to(rgba(8, 19, 92, 0.9))), url(../images/slider-bg.jpg);
    background-image: -webkit-linear-gradient(left, rgba(8, 19, 92, 0.9), rgba(8, 19, 92, 0.9)), url(../images/slider-bg.jpg);
    background-image: -moz-linear-gradient(left, rgba(8, 19, 92, 0.9), rgba(8, 19, 92, 0.9)), url(../images/slider-bg.jpg);
    background-image: -o-linear-gradient(left, rgba(8, 19, 92, 0.9), rgba(8, 19, 92, 0.9)), url(../images/slider-bg.jpg);
    background-image: linear-gradient(to right, rgba(8, 19, 92, 0.9), rgba(8, 19, 92, 0.9)), url(../images/slider-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.footer_section {
    position: static;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.modal-image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    margin-bottom: 15px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: black;
    cursor: pointer;
}

#descriptionText{
    margin-bottom:15px;
}

#editCategoriesModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#editCategoriesModal .modal-content {
    position: relative;
    max-width: 50%;
    max-height: 80%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#editCategoriesModal #allCategoriesList {
    max-height: 60%;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

#editCategoriesModal .modal-content button {
    width: 100%;
    margin-bottom: 10px;
}

#editCategoriesModal .modal-content h5 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

#editCategoriesModal .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding-right: 10px;
}

#editCategoriesModal .close-modal:hover {
    color: red;
}
