@{
    ViewData["Title"] = "Reset Password";
}

@section Scripts{
    <script src="~/js/reset-password.js"></script>
}

<div class="hero_area">
    <section class="slider_section">
        <div class="container d-flex justify-content-center" style="min-height: 90vh; padding-top: 5vh;">
            <section class="reset_password_section w-100" style="max-width: 600px;">
                <div class="card p-5 shadow-lg">
                    <h3 class="text-center mb-4">Reset Your Password</h3>

                    <form id="resetPasswordForm">
                        <input type="hidden" id="token" name="token" value="@ViewData["Token"]" />

                        <div class="form-group mb-4">
                            <label for="newPassword">New Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter your new password" required>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="confirmPassword">Confirm New Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password" required>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block btn-lg">Reset Password</button>
                    </form>

                    <div class="text-center mt-4">
                        <p>Remembered your password? <a href="~/login">Login here</a></p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>